<div ng-controller="FeedCtrl" layout="column" flex layout-fill>
  <md-content style="height: 600px;">
    <section>
      <md-subheader class="md-primary">Potential Matches</md-subheader>
      <md-list layout="column">
        <md-item ng-repeat="user in users">
          <md-item-content>
            <div class="md-tile-left">
                <!-- <img ng-src="{{message.face}}" class="face" alt="{{message.who}}"> -->
                <h3 ng-hide"">{{user.name}}</h3>
            </div>
            <div class="md-tile-content">
              <h4><a href ng-click="sendFriendRequest(user)">Add Friend</a></h4>
<!--               <h3 ng-hide="">{{message.what}}</h3>
              <h4>{{message.who}}</h4>
              <p>
                {{message.notes}}
              </p> -->
            </div>
          </md-item-content>
        </md-item>
      </md-list>
    </section>
    <section>
      <md-subheader class="md-warn">Sent Friend Requests</md-subheader>
      <md-list layout="column">
        <md-item ng-repeat="request in requestsSent">
          <md-item-content>
            <div class="md-tile-left">
                <h3>{{request.name}}</h3>
                <!-- <img ng-src="{{message.face}}" class="face" alt="{{message.who}}"> -->
            </div>
            <div class="md-tile-content">
<!--               <h3 ng-hide="">{{message.what}}</h3>
              <h4>{{message.who}}</h4>
              <p>
                {{message.notes}}
              </p> -->
            </div>
          </md-item-content>
        </md-item>
      </md-list>
    </section>
    <section>
      <md-subheader>Incoming Friend Requests</md-subheader>
      <md-list layout="column">
        <md-item ng-repeat="request in requestsReceived">
          <md-item-content>
            <div class="md-tile-left">
                <h3>{{request.name}} <a href ng-click="confirmRequest(request)">Confirm Friend</a></h3>
                <!-- <img ng-src="{{message.face}}" class="face" alt="{{message.who}}"> -->
            </div>
            <div class="md-tile-content">
<!--               <h3 ng-hide="">{{message.what}}</h3>
              <h4>{{message.who}}</h4>
              <p>
                {{message.notes}}
              </p> -->
            </div>
          </md-item-content>
        </md-item>
      </md-list>
    </section>
    <section>
      <md-subheader class="md-accent">Friends</md-subheader>
      <md-list layout="column">
        <md-item ng-repeat="friend in friends">
          <md-item-content>
            <div class="md-tile-left">
              <h3>{{friend.name}}</h3>
                <!-- <img ng-src="{{message.face}}" class="face" alt="{{message.who}}"> -->
            </div>
            <div class="md-tile-content">
<!--               <h3 ng-hide="">{{message.what}}</h3>
              <h4>{{message.who}}</h4>
              <p>
                {{message.notes}}
              </p> -->
            </div>
          </md-item-content>
        </md-item>
      </md-list>
    </section>
  </md-content>
</div>