<div class="login-form-partial">
  <form ng-submit="login()" name="loginForm" class="auth-form">
    <md-input-container>
      <label>Email</label>
      <input type="email" name="email" ng-model="loginData.email" pattern="[^@]+@[^@]+\.[a-zA-Z]{2,6}" required/>
      <div ng-messages="loginForm.email.$error">
        <div ng-message="required">This is required.</div>
        <div ng-message="pattern">Please enter a valid email.</div>
      </div>
    </md-input-container>

    <md-input-container>
      <label>Password</label>
      <input type='password' name="password" ng-model="loginData.password" pattern=".{6,}" required>
      <div ng-messages="loginForm.password.$error">
        <div ng-message="required">This is required.</div>
        <div ng-message="pattern">Password too short.</div>
      </div>
    </md-input-container>
    <div style="margin-top: 5%;">
      <md-button type="submit" class="md-raised md-primary">Login</md-button>
    </div>
  </form>
</div>
<style>
  .login-form-partial{
    width: 25%;
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
</style>