<!DOCTYPE html>
<html lang="en">
<head>

  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">

  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <!-- jQuery -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

  <!-- Angular -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>

  <!-- Firebase -->
  <script src="https://cdn.firebase.com/js/client/1.1.1/firebase.js"></script>

  <!-- AngularFire -->
  <script src="https://cdn.firebase.com/libs/angularfire/0.8.0/angularfire.min.js"></script>

  <script src="/js/application.js"></script>

  <!-- Angular Modules -->
  <script src="/angular/app.js"></script>
  <script src="/angular/controllers/authController.js"></script>
  <script src="/angular/factories/userFactory.js"></script>

  <title>Soggy Nachos</title>
</head>
<body ng-app="soggyNachos">
  <div ng-controller="MainCtrl">
    <%= yield %>
  </div>
</body>
</html>
