<!DOCTYPE html>
<html lang="en" style="background: #3B3736;">
  <head>

    <!--
      normalize.css removes cross-browser differences in defaults, e.g.,
      differences in how form elements appear between Firefox and IE
      See: http://necolas.github.com/normalize.css/
    -->
    <link rel="stylesheet" href="/css/normalize.css">
    <!-- application.css is where you put your styles -->
    <link rel="stylesheet" href="/css/application.css">

    <!-- Angular Material CSS -->
    <link rel="stylesheet" href="https://rawgit.com/angular/bower-material/master/angular-material.css">


    <!-- jQuery -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <!-- Angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular.js"></script>

    <!-- Angular Animate -->
     <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-animate.min.js"></script>

    <!-- Angular Aria -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-aria.min.js"></script>

    <!-- Angular Material Javascript now available via Google CDN; version 0.7 used here -->
    <script src="https://rawgit.com/angular/bower-material/master/angular-material.js"></script>

    <!-- ngMessages -->
    <script src="https://code.angularjs.org/1.3.0-beta.11/angular-messages.js"></script>

    <!-- Firebase -->
    <script src="https://cdn.firebase.com/js/client/1.1.1/firebase.js"></script>

    <!-- AngularFire -->
    <script src="https://cdn.firebase.com/libs/angularfire/0.8.0/angularfire.min.js"></script>

    <!-- Local Storage -->
    <script src="/js/ngStorage.min.js"></script>

    <!-- UI Router -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.13/angular-ui-router.js"></script>

  <!-- <script src="/js/application.js"></script> -->

    <!-- Angular Modules -->
    <script src="/angular/app.js"></script>
    <script src="/angular/controllers/authController.js"></script>
    <script src="/angular/factories/userFactory.js"></script>
    <script src="/angular/routes/userRoutes.js"></script>
    <script src="/angular/config/themeConfig.js"></script>

    <title>Soggy Nachos</title>
  </head>

  <body ui-view ng-app="soggyNachos">
      <%= yield %>
  </body>

</html>
