<div class="signup-form-partial">
   <tabset justified="true" type="pills">
    <tab>
      <tab-heading>Basic</tab-heading>
      <md-input-container>
          <label>Name</label>
          <input type="text" name="name" pattern=".{3,}" ng-model="userData.name" required/>
          <br/>
          <div ng-messages="signupForm.name.$error">
            <div ng-message="required">This is required.</div>
            <div ng-message="pattern">Name too short.</div>
          </div>
        </md-input-container>

        <md-input-container>
          <label>Email</label>
          <input type="email" name="email" ng-model="userData.email" pattern="[^@]+@[^@]+\.[a-zA-Z]{2,6}" required/>
          <div ng-messages="signupForm.email.$error">
            <div ng-message="required">This is required.</div>
            <div ng-message="pattern">Please enter a valid email.</div>
          </div>
        </md-input-container>

        <md-input-container>
          <label>Password</label>
          <input type="password" pattern=".{6,}" name="password" ng-model="userData.password" required/>
          <div ng-messages="signupForm.password.$error">
            <div ng-message="required">This is required.</div>
            <div ng-message="pattern">Password too short.</div>
          </div>
        </md-input-container>
        <div class="md-padding" style="margin-top: 5%;">
          <md-button ng-click="nextTab('inner')" class="md-raised md-primary">Next <i class="fa fa-chevron-right"></i></md-button>
        </div>
    </tab>
    
    <tab>
      <tab-heading>Skills</tab-heading>
        <div layout="row" layout-block>
          <md-input-container style="width: 100%;">
            <label>Add New Skill</label>
            <input ng-enter="addSkill()" type="text" name="newSkill" ng-model="newSkill.name" md-maxlength="20" pattern="[a-zA-Z0-9]{2,}" required/>
            <div ng-messages="signupForm.newSkill.$error">
              <div ng-message="pattern">Invalid skill name, dumbass.</div>
              <div ng-message="required">This is fucking required.</div>
              <div ng-message="md-maxlength">This is a skill, not your fucking life story. Asshole. </div>
              <div ng-message="duplicate">This fucking skill already exists.</div>
            </div>
          </md-input-container>
          <a ng-click="addSkill()" class="md-primary">
            <i class="fa fa-plus fa-3x" style="color:green;"></i>
          </a>
        </div>
        <div layout="row" layout-wrap>
          <md-checkbox ng-repeat="skill in defaultSkills" class="checkbox-button" ng-model="skillData[skill]" aria-label="skills">
            <label>{{ skill | uppercase }}</label>
          </md-checkbox>
        </div>
        <div class="center md-padding" style="margin-top: 5%;">
          <md-button ng-click="nextTab('inner')" class="md-raised md-primary">Next<i class="fa fa-chevron-right"></i></md-button>
        </div>
    </tab>

    <tab>
      <tab-heading>Personal Info</tab-heading>
      <md-input-container>
          <label>Bio</label>
          <input type="textfield" name="bio" />
        </md-input-container>
        <md-input-container>
          <label>Location</label>
          <input type="textfield" name="location" />
        </md-input-container>
        <div class="md-padding" style="margin-top: 5%;">
          <md-button type="submit" class="md-raised md-primary">Sign-up</md-button>
        </div>
    </tab>
  </tabset>
</div>


<style>
  .signup-form-partial{
    width: 50%;
    min-width: 220px;
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
</style>